*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  display: flex;
  height: 298px;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  display: flex;
  width: 394px;
  padding: 2px;
  align-items: flex-start;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
  font-family: inherit;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
  margin: 2px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 6px;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; 
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  appearance: none;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
} 

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

.search-form__pseudo-checkbox::before {
  content: "";
  width: 14px;
  height: 14px;
  margin: auto;
  background-color: #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  height: 34px;
  font-weight: 700;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  appearance: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}




